<div class="container">
  <app-alert *ngIf="showAlert" [color]="alertColorBg">
    {{ alertMsg }}
  </app-alert>

  <div class="content">
    <div class="login-section">
      <div class="left-side">
        <img class="login-image" src="../../assets/background/background-login.jpg">
      </div>
      <div class="right-side">
        <div class="inner-right">
          <app-tabs [selectedTab]="redirectTab">
            <app-sign-in></app-sign-in>
            <app-sign-up (signUpEventEmit)="alertProps($event)" (registrationSucess)="redirectToLogin()"></app-sign-up>
          </app-tabs>
        </div>
      </div>
    </div>
  </div>
</div>
