<header>
  <nav>
    <div class="logo">
      <img src="../../assets/logo/logo_galeria.png" alt="">
    </div>
    <div class="titulo">Galeria</div>
    <div class="menu">
      <div class="upload-section" (click)="openModal($event)">
        <div class="upload-button">Upload Image</div>
        <img class="upload-icon" src="../../assets/logo/upload-icon.png">
      </div>
      <div class="logout-section" (click)="logOut($event)">
        <div class="logout-button">Logout</div>
        <img class="logout-icon" src="../../assets/logo/logout-icon.png">
      </div>
    </div>
  </nav>
</header>

<app-modal [modalID]="'upload'">
  <app-upload></app-upload>
</app-modal>
