<header>
  <nav>
    <div class="logo">
      <img src="../../assets/logo/Nova_logo_v2.png" alt="">
    </div>
    <div class="titulo">Galeria</div>
    <div class="menu">
      <div class="upload-section" (click)="openModal($event)">
        <div class="upload-title">Upload Image</div>
        <img class="upload-icon" src="../../assets/icons/upload-icon.png">
      </div>
      <div class="logout-section" (click)="logOut($event)">
        <div class="logout-title">Logout</div>
        <img class="logout-icon" src="../../assets/icons/logout-icon.png">
      </div>
    </div>
  </nav>
</header>

<app-modal [modalID]="'upload'">
  <app-upload [ngStyle]="{'width':'100%'}"></app-upload>
</app-modal>
