.container{
  display: flex;
  padding: 20px;

  .tab{
    margin: 0 12px 0 0;
    font-size: 23px;
    color: #563B2Bff;
    font-weight: bold;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    &.active{
      border-bottom: 2px solid #563B2Bff;
    }

    &:hover{
      border-bottom: 2px solid #563B2Bff;
    }
  }

  .tab  + .tab{
    color: #CCC1B4ff;
    margin: 0;

    &.active{
      border-bottom: 2px solid #CCC1B4ff;
    }

    &:hover{
      border-bottom: 2px solid #CCC1B4ff;
    }

  }
}
