.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
}


.wrapper{
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;

  .title{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
  }

  .upload-area{
    padding: 60px;
    border: 3px dotted brown;

    h5{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Roboto';
      font-weight: 500;
    }
  }

  .additional-control{
    padding: 20px;
  }
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .publish-button{
    width: 120px;
    height: 60px;
    color: black;
    background-color: #ff0055;
  }

  .image-uploaded{
    width: 300px;
  }

}
