@import '/src/styles.scss';

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper{
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  width: 100%;

  .title{
    font-family: "Poppins";
    font-weight: bold;
    color: #000000;
  }

  .upload-area{
    width: 50%;
    display: flex;
    padding: 10px;
    border: 5px dashed #000000;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover{
      .upload-area-title{
        color: #000000;
      }
    }

    .upload-area-title{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Poppins';
      font-weight: bold;
      font-size: 20px;
      padding: 20px;
      text-align: center;
      color: #ffffff;
    }

  }

  .additional-control{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

    input[type="file"]{
      appearance: none;
      border: 2px dashed black;
      padding: 20px;
      font-size: 15px;
      font-family: "Poppins";
    }
  }
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title-field{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;

    .main-title{
      font-weight: bold;
      font-size: 25px;
      font-family: 'Poppins';
    }

    .file-title-input{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .image-uploaded{
    width: 80%;
    max-height: 60vh;
    object-fit: cover;
    border-radius: 12px;
  }

  .controls{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .remove-image{
      width: 120px;
      height: 60px;
      color: #ffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;
      border: 2px solid #920000;
      border-radius: 12px;
      font-size: 15px;
      background-color: #fd1f1f;
      font-family: 'Roboto';
      font-weight: bold;
      cursor: pointer;

      &:hover{
        background-color: #d40000;
      }
    }


    .publish-button{
      width: 120px;
      height: 60px;
      color: $text-color-sucess;
      background-color: #6dff66;
      margin: 20px;
      border: 3px solid #13770c;
      border-radius: 12px;
      font-weight: bold;
      font-size: 15px;
      font-family: 'Roboto';
      cursor: pointer;

      &:hover{
        background-color: #0cff00;
      }

      &:disabled{
        background-color: #a2bca0;
        border: 3px solid #648062;
        cursor: not-allowed;
      }
    }
  }
}


.tile-title-input
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"]{
  border-bottom: 2px solid #09ff00;
  background-color: #d40000;

  p{
    color: #6dff66;
  }
}
