<div class="container">
  <div class="wrapper">

    <ng-container *ngIf="!nextStage else sectionUploadForm">
      <h1 class="title">Upload your image</h1>

      <div class="upload-area"  app-event-blocker
        (dragend)="isDragover = false"
        (dragover)="isDragover = true"
        (dragenter)="isDragover = true"
        (dragleave)="isDragover = false"
        (mouseleave)="isDragover = false"
        (drop)="storeFile($event)"
        title="Drag and drop the Image here">

        <div class="upload-area-title">Drag and drop the Image here</div>
        <div class="icon-upload">
          <img src="../../../assets/icons/upload-icon.png">
        </div>
        <div class="upload-area-title">or</div>

        </div>

        <div class="additional-control">
          <input type="file">
        </div>

      </ng-container>

      <ng-template #sectionUploadForm>
        <form [formGroup]="uploadForm" (submit)="uploadFile()">

          <div class="title-field">
            <p class="main-title">Rename your image</p>
            <app-input class="file-title-input" [control]="title" placeholder="Enter the photo title" [inputClass]="'file-title-input'"></app-input>
          </div>

          <img [src]="fileUrl" class="image-uploaded">

          <div class="controls">
            <div class="remove-image" (click)="removeImage($event)">Remove Image</div>
            <button class="publish-button" [disabled]="uploadForm.invalid" >Publish Image</button>
          </div>

        </form>
      </ng-template>
  </div>
</div>
