

.msg{
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
}

.error{
  color: #ff3939;
}

input{
  padding: 10px;
  border: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]{
  border-bottom: 2px solid #563b2b;
}


input.file-title-input{
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.3em solid #f8b500;
  background: rgb(0 0 0);
  border-radius: 0.2em 0.2em 0 0;
  padding: 18px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 10px;
}
