
$dun: #CCC1B4ff;
$licorice: #241D17ff;
$caf-noir: #563B2Bff;
$loading:#563B2Bff;
$logo:#f7bd71;
$home-background:#e9eff7;
$bistre: #372017ff;
$khaki: #B29D8Dff;
$night: #070A0Dff;
$eerie-black: #161A19ff;
$rich-black: #121F23ff;
$night-2: #121111ff;
$rich-black-2: #091317ff;

$text-color-fail:#FFFFFF;
$text-color-sucess:#0D5F07;

$background-color-fail:#C70000;
$background-color-sucess:#D2FBD0;
$background-color-sucess-hover:#6dfe66;
