<div class="container">
  <app-loading *ngIf="inLoading"></app-loading>

  <form [formGroup]="formLogin" (ngSubmit)="login()" *ngIf="!inLoading">
    <div class="field">
      <label>Email</label>
      <input
          type="email"
          name="email"
          class="email"
          formControlName="email"
          >
    </div>

    <div class="field">
      <label>Password</label>
      <input
          type="password"
          name="password"
          class="password"
          formControlName="password"
          >
    </div>

    <button
      class="signin-button"
      type="submit"
      [disabled]="formLogin.invalid"
      >Login</button>
  </form>
</div>

