<div class="container">
  <form novalidate #loginForm="ngForm" (ngSubmit)="login()">
    <div class="email">
      <label>Email</label>
      <input
          type="email"
          name="email"
          class="email"
          #email="ngModel"
          [(ngModel)]="credentials.email"
          >
    </div>
    <div class="password">
      <label>Password</label>
      <input
          type="password"
          name="password"
          class="password"
          #email="ngModel"
          [(ngModel)]="credentials.password"
          >
    </div>

    <button
      class="signin-button"
      type="submit"
      [disabled]="loginForm.invalid"
      >Login</button>
  </form>
</div>

