<div class="container">
  <div class="content">
    <div class="card">
      <div class="wrapper">
        <div class="card-image">
          <img
            class="rounded-image skeleton"
            src="../../assets/background/image.jpg"
            alt=""/>
        </div>
        <div class="card-description">
          <h1 class="title">Toyota Supra</h1>
          <p class="description skeleton-text">
            The two asterisks, **, indicate to Angular that this routes
            definition is a wildcard route. For the component property, you can
            define any component in your application. A wildcard route is the
            last route because it matches any URL.
          </p>
          <div class="controls">
            <button class="detail-button">Details</button>
            <button class="remove-button">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="wrapper">
        <div class="card-image">
          <img
            class="rounded-image skeleton"
            src="../../assets/background/image.jpg"
            alt=""/>
        </div>
        <div class="card-description">
          <h1 class="title">Toyota Supra</h1>
          <p class="description skeleton-text">
            The two asterisks, **, indicate to Angular that this routes
            definition is a wildcard route. For the component property, you can
            define any component in your application. A wildcard route is the
            last route because it matches any URL.
          </p>
          <div class="controls">
            <button class="detail-button">Details</button>
            <button class="remove-button">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="wrapper">
        <div class="card-image" (click)="openModal($event)">
          <img
            class="rounded-image skeleton"
            src="../../assets/background/image.jpg"
            alt=""/>
        </div>
        <div class="card-description">
          <h1 class="title">Toyota Supra</h1>
          <p class="description skeleton-text">
            The two asterisks, **, indicate to Angular that this routes
            definition is a wildcard route. For the component property, you can
            define any component in your application. A wildcard route is the
            last route because it matches any URL.
          </p>
          <div class="controls">
            <button class="detail-button">Details</button>
            <button class="remove-button">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="wrapper">
        <div class="card-image">
          <img
            class="rounded-image skeleton"
            src="../../assets/background/image.jpg"
            alt=""/>
        </div>
        <div class="card-description">
          <h1 class="title">Toyota Supra</h1>
          <p class="description skeleton-text">
            The two asterisks, **, indicate to Angular that this routes
            definition is a wildcard route. For the component property, you can
            define any component in your application. A wildcard route is the
            last route because it matches any URL.
          </p>
          <div class="controls">
            <button class="detail-button">Details</button>
            <button class="remove-button">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [modalID]="'image-details'"></app-modal>
