<app-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</app-alert>

<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="field">
      <label for="username">Username</label>
      <app-input type="text" name="username" class="username inputfield"  [control]="userName" ></app-input>

    </div>

    <div class="field">
      <label for="email">Email</label>
      <app-input type="email" name="email" class="email inputfield" [control]="email" ></app-input>

    </div>

    <div class="field">
      <label for="age">Age</label>
      <app-input type="number" name="age" class="age inputfield"  [control]="age" ></app-input>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <app-input [control]="password" type="password" name="password" class="password inputfield" ></app-input>
    </div>

    <div class="field">
      <label for="confirm-password">Confirm Password</label>
      <app-input type="password" [control]="confirm_password" name="confirm_password" class="confirm-password inputfield"></app-input>
    </div>

    <button class="signup-button" type="submit" [disabled]="registerForm.invalid || inSubmission"> Create Account</button>
  </form>
</div>
