<div class="container">
  <form>
    <div class="email">
      <label for="username">Username</label>
      <input type="text" name="username" class="username">
    </div>

    <div class="password">
      <label for="username">Email</label>
      <input type="email" name="password" class="password">
    </div>

    <div class="age">
      <label for="age">Age</label>
      <input type="number" name="number" class="number">
    </div>

    <div class="password">
      <label for="password">Password</label>
      <input type="email" name="email" class="password">
    </div>

    <button class="signup-button" type="submit"> Create Account</button>
  </form>
</div>
